.App {
  text-align: center;
}

table {
  display: block;
  border-collapse: separate;
  border-spacing: 0px;
  margin-left: 31%;
}

td {
  background: gray;
  border: 4px solid #fff;
}

.cell {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.clicked {
  background-color: #fff;
  border: 4px solid #fff;
}

.bomb.clicked {
  color: rgb(216, 0, 0);
  font-size: 30px;
  padding: 0px;
}
